<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pocket Liner Login</title>
</head>
<body>

<form method="post" action="{{ url_for('route_register') }}">

    <label for="username_reg">User Name:</label>
    <input type="text" name="username_reg" id = "username_reg">
    <label for="password_reg">Password:</label>
    <input type="password" name="password_reg" id="password_reg">
    <label for="e-mail_reg">E-mail Address:</label>
    <input type="text" name="e_mail_reg" id="e-mail_reg">
    <button type="submit">Register</button>

</form>

<form method="post" action="{{ url_for('route_login') }}">

    <label for="e_mail">E-mail Address:</label>
    <input type="text" name="e_mail" id = "e_mail">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>

</form>

</body>
</html>