<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form>

    <select name="category" required>
        <option disabled selected value> - select and option - </option>
        <option value="food">Food</option>
        <option value="health">Health</option>
        <option value="clothes">Clothes</option>
        <option value="entertainment">Entertainment</option>
        <option value="bills">Bills</option>
        <option value="vacation">Vacation</option>
        <option value="kids">Kids</option>
        <option value="travel">Travel</option>
        <option value="car">Car</option>
        <option value="housekeeping">Housekeeping</option>
        <option value="sports">Sports</option>
        <option value="expense_else">Expense - Else</option>
    </select>
    <input type="date" name="date" id="date" placeholder="date" required>
    <input type="text" name="note" id="note" placeholder="note" required>

</form>


</body>
</html>